<head>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        
</head>
        
        <body>
                <div id="app">
                    <div class="demo" @click="attachRed = ! attachRed" :class="divClasses"></div>
                    <div class="demo" :class="{red: attachRed}"></div>
                    <hr>
                    <div class="demo" :style="myStyle"></div>
                    <hr>
                    <input type="text" v-model="color">
                    <input type="text" v-model="width">
                </div>
        
                <script src="script.js"></script>
                
        </body>